.whiteButton {
	cursor: pointer;
	background-color: rgba(200, 200, 200, 0);
	color: rgb(200, 200, 200);
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.whiteButton:HOVER {
	cursor: pointer;
	background-color: rgb(200, 200, 200);
	color: white;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.whiteButton:ACTIVE {
	cursor: pointer;
	background-color: rgba(200, 200, 200, 0);
	color: rgb(100, 100, 100);
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.redButton {
	cursor: pointer;
	background-color: rgba(241, 55, 96, 0);
	color: rgb(241, 55, 96);
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.redButton:HOVER {
	cursor: pointer;
	background-color: rgb(241, 55, 96);
	color: white;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.redButton:ACTIVE {
	cursor: pointer;
	background-color: rgba(241, 55, 96, 0);
	color: rgb(100, 100, 100);
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.orangeButton {
	cursor: pointer;
	background-color: rgba(233, 118, 61, 0);
	color: rgb(233, 118, 61);
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.orangeButton:HOVER {
	cursor: pointer;
	background-color: rgb(233, 118, 61);
	color: white;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.orangeButton:ACTIVE {
	cursor: pointer;
	background-color: rgba(233, 118, 61, 0);
	color: rgb(100, 100, 100);
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.greenButton {
	cursor: pointer;
	background-color: rgba(66, 187, 164, 0);
	color: rgb(66, 187, 164);
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.greenButton:HOVER {
	cursor: pointer;
	background-color: rgb(66, 187, 164);
	color: white;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.greenButton:ACTIVE {
	cursor: pointer;
	background-color: rgba(66, 187, 164, 0);
	color: rgb(100, 100, 100);
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.blueButton {
	cursor: pointer;
	background-color: rgba(61, 173, 206, 0);
	color: rgb(61, 173, 206);
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.blueButton:HOVER {
	cursor: pointer;
	background-color: rgb(61, 173, 206);
	color: white;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.blueButton:ACTIVE {
	cursor: pointer;
	background-color: rgba(61, 173, 206, 0);
	color: rgb(100, 100, 100);
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}



.white{
	background-color: rgb(241, 55, 96);
}

.red{
	background-color: rgb(241, 55, 96);
}

.orange{
	background-color: rgb(233, 118, 61);
}

.green{
	background-color: rgb(66, 187, 164);
}

.blue{
	background-color: rgb(61, 173, 206);
}

.text{
	color: white;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
}

.textHover{
	color: white;
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
	font-family: arial;
	text-align: center;
}