@sprite .background {
	gwt-image: "background";
	other: property;
}

.month{
	color: rgb(233, 240, 244);
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
	font-family: arial;
	text-align: center;
}

/* .dialog { */
/*     -webkit-box-shadow: 0 10px 6px -6px #777; */
/*     -moz-box-shadow: 0 10px 6px -6px #777; */
/*     box-shadow: 0 10px 6px -6px #777; */
/* } */

.dialog {
	position: relative;
}

.dialog:before, .dialog:after {
	  z-index: -1;
	  position: absolute;
	  content: "";
	  bottom: 15px;
	  left: 5px;
	  width: 50%;
	  top: 80%;
	  max-width:300px;
	  background: #555;
	  -webkit-box-shadow: 0 15px 10px #555;
	  -moz-box-shadow: 0 15px 10px #555;
	  box-shadow: 0 15px 10px #555;
	  -webkit-transform: rotate(-3deg);
	  -moz-transform: rotate(-3deg);
	  -o-transform: rotate(-3deg);
	  -ms-transform: rotate(-3deg);
	  transform: rotate(-3deg);
}

.dialog:after {
	  -webkit-transform: rotate(3deg);
	  -moz-transform: rotate(3deg);
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);
	  right: 5px;
	  left: auto;
}