.labelledBackground{
	background-color: rgb(200, 200, 200);
}

.labelledLabelBackground{
	background-color: gray;
	padding-left: 10px;
	padding-right: 10px;
}

.labelledLabel{
	color: white;
	font-family: arial;
	font-size: 100%;
	text-align: left;
	font-style: normal;
	font-weight: normal;
}

.listbox{
	background-color: rgba(200, 200, 200, 0);
	border-color: rgba(200, 200, 200, 0);
	color: rgb(80, 80, 80);
	font-family: arial;
	font-size: 100%;
	text-align: left;
	font-style: normal;
	font-weight: normal;
}

.textarea{
	background-color: rgba(200, 200, 200, 0);
	border-color: rgba(200, 200, 200, 0);
	color: rgb(80, 80, 80);
	font-family: arial;
	font-size: 100%;
	text-align: left;
	font-style: normal;
	font-weight: normal;
}

.labelBackground{
	background-color: rgba(200, 200, 200, 0);
	padding-left: 5px;
	padding-right: 5px;
}

.label{
	background-color: rgba(200, 200, 200, 0);
	border-color: rgba(200, 200, 200, 0);
	color: rgb(80, 80, 80);
	font-family: arial;
	font-size: 100%;
	text-align: left;
	font-style: normal;
	font-weight: normal;
}

.datebox{
	background-color: rgba(200, 200, 200, 0);
	border-color: rgba(200, 200, 200, 0);
	color: rgb(80, 80, 80);
	font-family: arial;
	font-size: 100%;
	text-align: left;
	font-style: normal;
	font-weight: normal;
}