@sprite .background {
	gwt-image: "background";
	other: property;
}

.headerBackground{
	background-color: rgb(46, 54, 65);
}

/* .headerBorder{ */
/* 	background-color: rgb(229, 229, 229); */
/* } */

.headerText{
	color: rgb(233, 240, 244);
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
	font-family: arial;
	text-align: center;
}

.headerTextRed{
	color: rgb(241, 55, 96);
	font-size: 80%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
}

.headerTextOrange{
	color: rgb(233, 118, 61);
	font-size: 80%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
}

.headerTextGreen{
	color: rgb(66, 187, 164);
	font-size: 80%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
}

.headerTextBlue{
	color: rgb(61, 173, 206);
	font-size: 80%;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
	text-align: center;
}

.headerLineRed{
	background-color: rgb(241, 55, 96);
}

.headerLineOrange{
	background-color: rgb(233, 118, 61);
}

.headerLineGreen{
	background-color: rgb(66, 187, 164);
}

.headerLineBlue{
	background-color: rgb(61, 173, 206);
}

.headerClick{
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 0);
}

.allDayFrame{
	background-color: rgb(229, 229, 229);
}

.allDayBackground{
	background-color: white;
}

.eventHeaderText{
	color: white;
	text-align: left;
	font-family: arial;
	font-size: 90%;
	font-weight: bolder;
}

.eventHeaderRed {
	cursor: pointer;
	background-color: rgb(241, 55, 96);
	border: none;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.eventRed {
	background-color: rgba(241, 55, 96, 0.5);
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.eventHeaderOrange {
	cursor: pointer;
	background-color: rgb(233, 118, 61);
	border: none;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.eventOrange {
	background-color: rgba(233, 118, 61, 0.5);
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.eventHeaderGreen {
	cursor: pointer;
	background-color: rgb(66, 187, 164);
	border: none;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.eventGreen {
	background-color: rgba(66, 187, 164, 0.5);
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.eventHeaderBlue {
	cursor: pointer;
	background-color: rgb(61, 173, 206);
	border: none;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.eventBlue {
	background-color: rgba(61, 173, 206, 0.5);
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.eventEditor
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.eventEditor:before, .eventEditor:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.eventEditor:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.eventEditorBackground {
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.eventEditorHeaderText{
	color: white;
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
	font-family: arial;
	text-align: left;
}

.eventEditorHeaderRed {
	background-color: rgb(241, 55, 96);
	border: none;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.eventEditorHeaderOrange {
	background-color: rgb(233, 118, 61);
	border: none;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.eventEditorHeaderGreen {
	background-color: rgb(66, 187, 164);
	border: none;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.eventEditorHeaderBlue {
	background-color: rgb(61, 173, 206);
	border: none;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}