.headerBackground{
	background-color: rgb(241, 241, 241);
}

.headerBorder{
	background-color: rgb(229, 229, 229);
}

@sprite .shadowLeft {
	gwt-image: "shadowLeft";
	other: property;
}

@sprite .shadowRight {
	gwt-image: "shadowRight";
	other: property;
}